	<div class="basesearch-view">
		
		<div class="basesearch-view__content">
			<div class="wrapper">
				

				<div id="search-view" class="basesearch-view__search">
					<p><span id="search-service-name"></span> is searching a valid Server to communicate with. This process can take a while depending on your Internet Speed. If you are being blocked by isp/School/government it might take a while to find valid Server to communicate with.</p>
					<div style="text-align: center"><img src="images/loading.gif" width="100" height="100"></div>
					<p id="basesearch-progress"></p>
					<a id="basesearch-cancel-btn" href="#" class="btn btn--flex">Cancel search</a>
				</div>

				<div id="search-failed-view" class="basesearch-view__failed">

					<p>It seems like our sites are blocked in your network. Please contact support or try later.</p>

					<div class="basesearch-view__failed__button-container">
						<a id="try-again-button" href="#" class="btn btn--flex">Try again</a>
					</div>
					<div class="basesearch-view__failed__button-container">
						<a id="contact-support-button" href="#" class="btn btn--flex">Contact Support</a>
					</div>
				</div>

			</div>
		</div>
		
	</div>
