	<div class="bypass-config-view">
		<div class="wrapper">
			<div class="headline">PAC Bypass settings</div>
			<p>Here you can define any number of hostname, domain and IP address that will be ignored by the VPN.<span style="text-decoration:underline; color:red">This will expose your real IP to those websites!</span> You can use this function for local or internal hostnames and ip addresses or any other website on the internet.</p>

			<p>Add your hostnames and ip addresses each in a new line.</p>

			<div class="bypass-config-view__input-container">
				<div class="textarea">
					<textarea id="bypasslist"></textarea>			
				</div>
			</div>

			<div id="error_message" class="textinput__errormessage">
						
			</div>

			<div class="bypass-config-view__btn-container">
				<a id="update-bypasslist-button" href="#" class="btn btn--flex">Update List</a>
				<a style="display:none;" id="upgrade-account-bypass" href="#" class="btn btn--flex">
				{MemberStatusFreeExtend}</a>
			</div>

		</div>	
	</div>