<div id="close-account-mode" class="close-account">
  <i class="material-icons close-account__close" id="close-icon">close</i>
  <div class="close-account__container close-account__container__loading" id="loading-div">
    <div id="close-account-loading"></div>
  </div>
  <div class="close-account__container" id="content-div">
    <div class="close-account__container__warning">
      <i class="material-icons close-account__container__warning__icon">pan_tool</i>
      <p>Once you close your account, there is no going back. </P>
      <p>Please be certain.</p>
    </div>

    <div class="close-account__container__close-acount-btn">
      <a href="#" class="btn btn--red" id="close-account-btn">Close account</a>
    </div>

    <div class="close-account__container__go-back-btn">
      <a href="#" class="btn btn--large" id="go-back-btn">Cancel</a>
    </div>
  </div>

  <div class="close-account__container close-account__container__error" id="error-div">
  </div>

  <div class="close-account__container close-account__container__success" id="success-div">
    Success. Your account has been closed.
  </div>
</div>

<div id="maintenance-mode" class="maintenance-mode">
  <i class="material-icons maintenance-mode__close" id="maintenance-mode-close-icon">close</i>
  <div class="maintenance-mode__container">
    <div class="maintenance-mode__icon"><i class="material-icons">build</i></div>
    <div id="maintenance-msg" class="maintenance-mode__message">

    </div>
  </div>
</div>
