<div class="connected-view">
	<div id="proxyextensions" class="connected-view__proxyextensions">
		<div class="wrapper">
			<p>
			If you have trouble with VPN Connection, you might try to disable the extension <span id="proxyExtensionNames"></span> while using <span id="proxyextenion-servicename"></span>. You can go to your Addon-Manager and disable the extension.
			</p>
		</div>
	</div>
	<div id="connected-container" class="connected-view__container connected-view__middle">
		<div class="wrapper">
			<img src="images/secure-icon.png">

			<p class="connected-view__status-title">{DashboardYouAreSecure}</p>

			<div class="connected-view__iplocation-title">CURRENT IP LOCATION</div>
			<div id="connected-country" class="connected-view__country"></div>
			<div id="speed-test" class="connected-view__speed-test">
				<img class="connected-view__speed-test__icon" src="images/speedometer.png">
				<div class="connected-view__speed-test__text">
					Start Speed Test
				</div>
			</div>

			<div class="connected-view__button-container">


				<a id="connected-ip-lookup-button" href="#" class="btn btn--small btn--blue">{DasboardIPLookup}</a>
				<a id="dns-test-button" style="margin: 5px 0px;" href="#" class="btn btn--small btn--blue">Run DNS Leak Test</a>

				<div class="connected-view__pin-container">
					<a id="pin-country" href="#" class="btn btn--small btn--blue connected-view__pin-container__button">Pin this country</a>
					<img id="pinned-image" src="images/pin.png" class="connected-view__pin-container__pin">
				</div>

				<div class="connected-view__button-container__disconnect-button">
					<a id="connected-disconnect-button" href="#" class="btn btn--small btn--orange">{DashboardTurnOff}</a>
				</div>

			</div>

			<div class="connected-view__webrtc-container" id="webrtc-container">
					<div class="webrtc-option__checkbox">

						<label for="webrtc-checkbox" class="label-cbx">
								<input id="webrtc-checkbox" type="checkbox" class="invisible">
								<div class="checkbox">
									<svg width="20px" height="20px" viewBox="0 0 20 20">
										<path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
										<polyline points="4 11 8 15 16 6"></polyline>
									</svg>
								</div>

							</label>
							<span>Prevent WebRTC IP Leak</span>

					</div>
			</div>



		</div>
	</div>
</div>
