	<div id="contact-success" class="contact-view contact-view--success">
		<div class="wrapper">
			<div id="contact-success-message" class="headline"></div>
			<a id="contact-back-button" href="#" class="btn btn--large btn--flex">{RegisterBackTo}</a>
		</div>
	</div>

	<div id="contact-form" class="contact-view">
		<div class="wrapper">
			<div class="headline">{ContactSupportTitle}</div>

			<div class="contact-view__input-container">
				<div class="textinput">
					<input id="contact-email" type="email" placeholder="{ContactSupportEmail}">
				</div>
				<div class="textarea">
					<textarea id="contact-message" placeholder="{ContactSupportConcern}"></textarea>			
				</div>
			</div>

			<div id="error_message" class="textinput__errormessage">
						
			</div>

			<div class="contact-view__btn-container">
				<a id="contact-button" href="#" class="btn btn--large btn--flex">{ContactSupportButton}</a>
			</div>

		</div>	
	</div>