<div class="desktopclient-info">
	<i class="material-icons desktopclient-info__close" id="dc-info-close">close</i>
	<div class="desktopclient-info__container">
		<div class="wrapper">
		
			<h2 class="desktopclient-info__title">Why should you download our desktop client?</h2>

			<div class="desktopclient-info__text">
				<p>Congratulations! You have succesfully downloaded and set up our VPN extension. </p>
				<p>There is no other software required to run this extension. But why should you still download our desktop client?</p>

				<p>The main reason is that in some cases VPN extensions are not enough to bypass the firewall in your network. Extensions have only limited permissions on your computer and have limited capabilities.</p>

				<p>
				We highly recommend to download our desktop client. It uses a very sophisticated VPN software and can bypass most of the firewalls.</p>
			<div class="proxysearch-view__download-container" id="dw-desktop-client">
				<p style="text-decoration:underline;">Download Desktop Client</p>
				<div class="platforms-download">
							<div class="proxysearch-view__download-platforms">
								<div class="platforms-download__platforms__container">

									<div class="platforms-download__platforms__container__item2">
										<img src="images/pl_windows.png">
									</div>
									<div class="platforms-download__platforms__container__item3">
										<img src="images/pl_macosx.png">
									</div>
								</div>
							</div>
				</div>
			</div>


			</div>

		</div>
	</div>

</div>