<div class="get-premium">
  <i class="material-icons get-premium__close" id="getprem-close">close</i>

  <p class="get-premium__main-title">Enjoy exclusive benefits of premium</p>

  <div class="get-premium__upgrade">
    <a id="getprem-upgrade-btn" href="#" class="btn">Start Upgrade now</a>
  </div>

  <div class="get-premium__feature-list">

    <div class="get-premium__feature-list__row">
      <div class="get-premium__feature-list__row__item">
        <i class="material-icons">storage</i>
        <p class="get-premium__feature-list__row__item__text">2,000+ servers</p>
      </div>
      <div class="get-premium__feature-list__row__item">
        <img src="images/speed.svg" width="32px" height="32px">
        <p class="get-premium__feature-list__row__item__text">4x faster</p>
      </div>

    </div>

    <div class="get-premium__feature-list__row">
      <div class="get-premium__feature-list__row__item">
        <i class="material-icons">phonelink</i>
        <p class="get-premium__feature-list__row__item__text">Multiple devices</p>
      </div>
      <div class="get-premium__feature-list__row__item">
        <i class="material-icons">language</i>
        <p class="get-premium__feature-list__row__item__text">40+ different countries</p>
      </div>
    </div>

    <div class="get-premium__feature-list__row">
      <div class="get-premium__feature-list__row__item">
        <i class="material-icons">network_check</i>
        <p class="get-premium__feature-list__row__item__text">No bandwidth or quota limitation</p>
      </div>
      <div class="get-premium__feature-list__row__item">
        <i class="material-icons">live_help</i>
        <p class="get-premium__feature-list__row__item__text">Priority support</p>
      </div>
    </div>
    <div class="get-premium__feature-list__row">
      <div class="get-premium__feature-list__row__item">
        <i class="material-icons">call_split</i>
        <p class="get-premium__feature-list__row__item__text">Bypass list</p>
      </div>

      <div class="get-premium__feature-list__row__item">
        <i class="material-icons">sort</i>
        <p class="get-premium__feature-list__row__item__text">Sort server list</p>
      </div>

    </div>

  </div>
<br>
  <div style="width: 300px">
    <p class="get-premium__sub-title">Upgrade Once, use on PC, Phone and Tablet</p>
  </div>

</div>
