<div class="gif-view">
	<i id="close-gif" class="material-icons gif-view__close" >close</i>

	<div class="gif-view__container">
		<div class="wrapper">
			<h1 id="gif-title" class="gif-view__container__title"></h1>
			<div id="gif-desc" class="gif-view__container__desc"></div>
		</div>

		<div id="gif-gif" class="gif-view__container__gifbox"></div>

		<div class="wrapper">
			<div style="margin: 5px 0px;">This feature is only available for premium users.</div>
			<a id="gif-upgrade-button" href="#" class="btn btn--blue">{MemberStatusFreeExtend}</a>
		</div>
	</div>
</div>