	<div class="lang-view" id="language-mode">
    	<div class="wrapper">
	    	<div class="lang-view__list-container">
					<div style="text-align: center" id="lang-list-error"></div>
		    	<div class="lang-list">
		    		<ul>
		    		</ul>
		    	</div>
			</div>
		</div>
    </div>

		<div id="maintenance-mode" class="maintenance-mode">
		  <i class="material-icons maintenance-mode__close" id="maintenance-mode-close-icon">close</i>
		  <div class="maintenance-mode__container">
		    <div class="maintenance-mode__icon"><i class="material-icons">build</i></div>
		    <div id="maintenance-msg" class="maintenance-mode__message">

		    </div>
		  </div>
		</div>
