<div class="login-view">


			<div class="login-view__container">
				<div class="login-view__input-container">
					<div class="wrapper">
					<img id="login-service-logo" src="">

					<p class="login-view__version" id="login-version"></p>

					<div class="textinput-icon">
						<i class="material-icons textinput-icon__icon">person</i>
						<input id="login-email" type="email" placeholder="{LoginEmailLabel}">

					</div>

					<div class="textinput-icon">
						<i class="material-icons textinput-icon__icon">lock</i>
						<input id="login-password" type="password" placeholder="{LoginPasswordLabel}">
					</div>
					</div>
				</div>
				<div class="wrapper">
					<div id="error_message" class="textinput__errormessage">

					</div>
				</div>

				<div class="login-view__btn-container">
					<a id="login-button" href="#" class="btn btn--large btn--flex">{SignIn}</a>
				</div>

				<div class="login-view__download-container">
					<div class="platforms-download">
								<div class="platforms-download__label">
									Also available on:
								</div>
								<div class="platforms-download__platforms">
									<div class="platforms-download__platforms__container">
											<div class="platforms-download__platforms__container__item1">
										<i class="material-icons" style="color: #A4C639" id="dw-android" alt="Download Android Client" title="Download Android Client">android</i>
										</div>
										<div class="platforms-download__platforms__container__item2" id="dw-windows">
											<img src="images/pl_windows.png" alt="Download Windows Client" title="Download Windows Client">
										</div>
										<div class="platforms-download__platforms__container__item3" id="dw-macosx">
											<img src="images/pl_macosx.png" alt="Download Mac OSX Client" title="Download Mac OSX Client">
										</div>
									</div>
								</div>
					</div>
				</div>


			</div>
			<div class="login-view__link-container">
				<a id="register-button" class="login-view__link-container__link" href="#">{CreateAnAccount}</a>
				<a id="forgotpass-button" class="login-view__link-container__link login-view__link-container__link--sameline" href="#">{IForgotPassword}</a>
				<a id="contact-button" class="login-view__link-container__link login-view__link-container__link--sameline" href="#">{DasboardContactSupport}</a>
			</div>


</div>
