<div class="permission-view">
	<div class="permission-view__container">


			<h2 class="permission-view__title">Permission Problem</h2>
<p>This extension requires "On All Sites"-Permission to work properly.</p>
<p>Right Click on Extension Icon -> This can read and change site data -> On All Sites</p>
			<div class="permission-view__text">
				<img id="perm-fix-gif" class="permission-view__gif" src="">
			</div>
			<p>Problem still exists? <span style="text-decoration:underline; cursor:pointer; color:#84ffea;" id="contact-support">Contact Support</span></p>

	</div>

</div>
