


<div id="proxysearch-active" class="proxysearch-view proxysearch-view__searching-active">

	<div class="proxysearch-view__container">

		<div class="wrapper">

			<div class="proxysearch-view__spinner"><img src="images/spinner.svg" width="100" height="100"></div>

			<div class="proxysearch-view__search-title">{SearchingProxyTxt}</div>

			<div class="proxysearch-view__connecting-to-title">Connecting to</div>

			<div id="search-country" class="proxysearch-view__country"></div>

			<p class="proxysearch-view__search-progress" id="search-progress"></p>

			<div class="progress-bar">
  				<div class="progress-bar__progress" id="progress-bar"></div>
			</div>


			<div class="proxysearch-view__button-container">
				<a id="cancel-search-button" href="#" class="btn btn--blue">{SearchingProxyCancelAndBack}</a>
			</div>

		</div>

	</div>

</div>

<div id="proxysearch-failed" class="proxysearch-view proxysearch-view__searching-failed">
	<div class="proxysearch-view__container">

		<div class="wrapper">
			<div class="proxysearch-view__search-title">{SearchingProxyFailedTitle}</div>
			<p style="color:white" id="failed-country"></p><span style="color:white" id="failed-servertype"></span>
			<p style="color:white" id="client-version"></p>
			<p class="proxysearch-view__description" id="search-result-txt"></p>
			<div class="proxysearch-view__changeplatform">
			<p>In some cases VPN extensions are not enough to bypass the firewall in your network. Extensions have only limited permissions on your computer and have limited capabilities.</p>
			

			<div class="proxysearch-view__download-container" id="dw-desktop-client" style="display: none">
				<p style="text-decoration:underline;">Download Desktop Client</p>
				<div class="platforms-download">
							<div class="proxysearch-view__download-platforms">
								<div class="platforms-download__platforms__container">

									<div class="platforms-download__platforms__container__item2">
										<img src="images/pl_windows.png">
									</div>
									<div class="platforms-download__platforms__container__item3">
										<img src="images/pl_macosx.png">
									</div>
								</div>
							</div>
				</div>
			</div>


			</div>
			<div class="proxysearch-view__button-container">
				<a id="back-to-dashboard-button" href="#" class="btn btn--blue">{SearchingProxyBackToServerList}</a>
			</div>
		</div>

	</div>

</div>
