<div class="register3-success">
  <i class="material-icons register3-success__close" id="success-close">close</i>
  <div class="register3-success__container">
    <i class="material-icons register3-success__container__icon">done</i>
    <p class="register3-success__container__title">{ActivationTitle}</p>
    <p class="register3-success__container__subtitle">{ActivationTitle2}</p>
    <p class="register3-success__container__subtitle">{ActivationText}</p>

    <p class="register3-success__container__warning">
      {ActivationWarning}
    </p>

    <div class="register3-success__container__back-button-container">
      <a id="back-to-login-button" href="#" class="btn">{RegisterBackTo}</a>
    </div>
  </div>
</div>
