<div id="register-success" class="register-view register-view--success">

    <div class="register-view__success-message-container">
      <div class="wrapper">
        <p id="register-success-message" class="headline"></p>
        <a id="register-back-button" href="#" class="btn btn--large btn--flex">{RegisterBackTo}</a>
      </div>
    </div>
</div>

<div id="register-form" class="register-view">
  <div class="wrapper">
    <div class="headline">
      {RegisterCreateAcccount}
    </div>

    <div class="register-view__input-container">

      <div class="textinput">
        <input class="textinput__input" id="register3-email" type="email" placeholder="{RegisterEmail}">
        <div class="textinput__errormessage"></div>
      </div>

      <div class="textinput register-view__input-container__input-with-icon">
        <div id="show-password" class="show-password-container" data="off"><img id="show-password-img" src="./images/red-eye-off.png"></div>
        <input class="textinput__input textinput__input--short" id="register3-password" type="password" placeholder="{RegisterPassword}">
        <div class="textinput__errormessage"></div>
      </div>

      <div class="textinput">
        <input class="textinput__input textinput__input--short" id="register3-password-confirm" type="password" placeholder="{RegisterPasswordConfirm}">
        <div class="textinput__errormessage"></div>
      </div>
    </div>

    <div class="register-view__agreements-container">
      <p id="register3-agreemnet-txt">

      </p>

    </div>

    <div id="error_message" class="textinput__errormessage">
    </div>

    <div class="register-view__btn-container">
      <a id="register-button" href="#" class="btn btn--large btn--flex">{RegisterButton}</a>
    </div>

  </div>
</div>
