	<div id="register-success" class="register-view register-view--success">
		
			<div class="register-view__success-message-container">
				<div class="wrapper">
					<p id="register-success-message" class="headline"></p>
					<a id="register-back-button" href="#" class="btn btn--large btn--flex">{RegisterBackTo}</a>
				</div>
			</div>
	</div>

	<div id="register-form" class="register-view">
		<div class="wrapper">
			<div class="headline">
				{RegisterCreateAcccount}
			</div>

			<div class="register-view__input-container">
				<div class="textinput">
					<input id="register-firstname" type="text" placeholder="{RegisterFirstname}">
					<div class="textinput__errormessage"></div>
				</div>

				<div class="textinput">
					<input id="register-lastname" type="text" placeholder="{RegisterLastname}">
					<div class="textinput__errormessage"></div>
				</div>

				<div class="textinput">
					<input id="register-email" type="email" placeholder="{RegisterEmail}">
					<div class="textinput__errormessage"></div>
				</div>						

				<div class="textinput">
					<input id="register-email-confirm" type="email" placeholder="Confirm {RegisterEmail}">
					<div class="textinput__errormessage"></div>
				</div>	
			</div>

			<div class="register-view__agreements-container">


				<div class="register-view__agreements-container__checkbox">
				
				  <label for="tos-checkbox" class="label-cbx">
				      <input id="tos-checkbox" type="checkbox" class="invisible">
				      <div class="checkbox">
				        <svg width="20px" height="20px" viewBox="0 0 20 20">
				          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
				          <polyline points="4 11 8 15 16 6"></polyline>
				        </svg>
				      </div>
				      
				    </label>
				    <span id="tos-label"></span>
			
				</div>

				<div class="register-view__agreements-container__checkbox">
				  <label for="pp-checkbox" class="label-cbx">
				      <input id="pp-checkbox" type="checkbox" class="invisible">
				      <div class="checkbox">
				        <svg width="20px" height="20px" viewBox="0 0 20 20">
				          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
				          <polyline points="4 11 8 15 16 6"></polyline>
				        </svg>
				      </div>
				      
				    </label>
				    <span id="pp-label"></span>
				</div>	

				<div class="register-view__agreements-container__checkbox">
				  <label for="eula-checkbox" class="label-cbx">
				      <input id="eula-checkbox" type="checkbox" class="invisible">
				      <div class="checkbox">
				        <svg width="20px" height="20px" viewBox="0 0 20 20">
				          <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
				          <polyline points="4 11 8 15 16 6"></polyline>
				        </svg>
				      </div>
				      
				    </label>
				    <span id="eula-label"></span>
				</div>	


			</div>

			<div id="error_message" class="textinput__errormessage">
			</div>

			<div class="register-view__btn-container">
				<a id="register-button" href="#" class="btn btn--large btn--flex">{RegisterButton}</a>
			</div>

		</div>
	</div>