<div class="teaser">
  <i class="material-icons teaser__close" id="getprem-close">close</i>
  <div class="teaser__top">

    <div class="teaser__top__content">
      <div class="teaser__top__content__title">Premium Servers are 4x Faster</div>

      <div class="teaser__top__row">
        <div class="teaser__top__row__item">
          <img src="images/free-speed.png">
          <p class="teaser__top__row__item__title">Free Server</p>
        </div>
        <div class="teaser__top__row__item">
          <img src="images/premium-speed.png">
          <p class="teaser__top__row__item__title">Premium Server</p>
        </div>
      </div>

      <div class="teaser__top__content__info">
        <p>Enjoy 2000+ exclusive Premium Servers at 40+ Locations around the globe</p>
      </div>

    </div>

    <div class="teaser__top__round">
    </div>

    <div class="teaser__feature-list">

      <p class="teaser__feature-list__title">Additional premium benefits</p>

      <div class="get-premium__feature-list" style="margin-top:0px;">

        <div class="get-premium__feature-list__row" style="height: 70px;">
          <div class="get-premium__feature-list__row__item">
            <i class="material-icons">phonelink</i>
            <p class="get-premium__feature-list__row__item__text">Multiple devices</p>
          </div>
          <div class="get-premium__feature-list__row__item">
            <i class="material-icons">live_help</i>
            <p class="get-premium__feature-list__row__item__text">Priority support</p>
          </div>
        </div>

      </div>

      <p class="teaser__feature-list__more" id="more-feature">And much more...</p>

    </div>

    <div class="teaser__action">
      <a id="getprem-upgrade-btn" href="#" class="btn">Start Upgrade now</a>
      <p style="text-align: center;font-size: 10px;">No subscription</p>
      <div>
        <a style="display:none" id="gettrial-btn" href="#" class="btn btn--yellow"></a>
      </div>

      <p class="teaser__action__continue" id="continue-button">Continue as free user</p>
    </div>

  </div>
</div>
