<div class="update-required" id="up-container">
  <div class="update-required__loading" id="up-loading">
    <div class="update-required__loading__loading-img" id="up-loading-img">

    </div>
  </div>
  <div class="update-required__content" id="up-content">
    <div class="update-required__content__title" id="up-title">Update required</div>
    <div class="update-required__content__desc" id="up-desc">
    </div>
    <div class="update-required__content__update" id="up-update">

    </div>

    <div class="update-required__content__sources">
      <p>You may visit one of following sources to update your client to latest version</p>
      <div id="update-links">
      </div>
    </div>
  </div>

</div>
