<div class="webrtcaddon-view">
	<i id="close-addon-view" class="material-icons webrtcaddon-view__close" >close</i>
	<div id="not-installed-view" class="webrtcaddon-view__content">
		<div class="wrapper">
			<div class="webrtcaddon-view__headline">Required Extension</div>
			<p>You need to install WebRTC Leak Shield to use this feature</p>

			<div id="addon-big-button" class="webrtcaddon-view__addon">
				<img src="images/webrtcleakshield.png">
				<span>WebRTC Leak Shield</span>
			</div>

			<p>Once installed you can use this addon within <span id="service-name"></span></p>

			<a id="addon-download-button" href="#" class="btn">Download</a>
		</div>
	</div>

	<div id="not-enabled-view" class="webrtcaddon-view__content">
		<div class="wrapper">
			<div class="webrtcaddon-view__headline">Enable Extension</div>
			<p>You have WebRTC Leak Shield installed but it is disabled. Please enable it.</p>

			<div id="enable-big-button" class="webrtcaddon-view__addon">
				<img src="images/webrtcleakshield-disabled.png">
				<span>WebRTC Leak Shield</span>
				<span style="position:absolute; color: grey; top: 32px;">(disabled)</span>
			</div>
			<p> Go to your Addon/Extension Manager and activate WebRTC Leak Shield</p>
			<p>Once enabled you can use this addon within <span id="service-name-2"></span></p>

		</div>
	</div>
</div>